/* Include the padding and border in an element's total width and height */
* {
  box-sizing: border-box;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
h2 {
  margin: 0;
}

/* Style the list items */
ul li {
  /* cursor: pointer; */
  position: relative;
  padding: 8px 8px 8px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  border: 1px solid black;
  border-radius: 15px;
  margin: 2px;
  width: 80%;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul li.passed {
  background: rgb(4, 150, 82);
  color: #fff;
}

ul li.failed {
  background: rgb(252, 65, 65);
  color: #fff;
}

/* Style the close button */
.close {
  padding: 16px;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  border: none;
  text-decoration: none;
}

.close:hover {
  background-color: #f44336;
  color: white;
  border: none;
}

/* Style the header */
.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* Clear floats after the header */
.header:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  /* width: 75%; */
  padding: 10px;
  float: left;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 10px;
}

/* Style the "Add" button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  border-radius: 15px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  margin-left: 5px;
}

.addBtn:hover {
  background-color: #bbb;
}

.content {
  margin: 10px 0;
}
.liContainer {
  display: flex;
}

.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.flex-grow {
  flex-grow: 1;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-20 {
  width: 20%;
}
.w-10 {
  width: 10%;
}
.w-40 {
  width: 40%;
}
.w-45 {
  width: 45%;
}
.w-30 {
  width: 30%;
}

.m-0 {
  margin: 0;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.mt-2 {
  margin-top: 2rem;
}
.cursor-pointer {
  cursor: pointer;
}
.p-2 {
  padding: 2rem;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.h-full {
  height: 100%;
}
.h-screen {
  height: 100vh;
}
.w-full {
  width: 100%;
}
.svgButton {
  height: 24px;
  width: 24px;
}
.todoActionButton {
  height: 36px;
  width: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoActionTextButton {
  height: 36px;
  /* width: 36px; */
  /* padding: 0 20px; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeButton {
  padding: 10px;
  border-radius: 15px;
  border: 1px solid black;
  text-decoration: none;
  cursor: pointer;
}
.date {
  font-size: 15px;
}
.activeButton {
  background: rgb(4, 150, 82);
  color: white;
}
